{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>供应商列表</title>

    <link href="{% static '/pages/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/custom/uimaker/easyui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/custom/uimaker/icon.css' %}">
    <link rel="stylesheet" href="{% static '/pages/css/providers1.css' %}">
    <script type="text/javascript" src="{% static '/custom/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/custom/jquery.easyui.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/custom/easyui-lang-zh_CN.js' %}"></script>
    <script src="{% static '/js/baseInfo.js' %}"></script>
</head>
<body>
<div class="container">
    <table id="dg" style="width:100%;height:535px">
    </table>

    <!-- 顶部条件查询开始 -->
    <div id="tb" style="padding:0 30px;">
        <div class="opt-buttons">
            <a id="add" href="#" class="easyui-linkbutton">新增</a>
            <a id="edit" href="#" class="easyui-linkbutton">编辑</a>
            <a id='delete' href="#" class="easyui-linkbutton">删除</a>
            <a id="import" href="#" class="easyui-linkbutton">导入</a>
            <a id="export" href="#" class="easyui-linkbutton">导出</a>

            <div style="width:200px;height: 20px; float:right">
                <input id="ss" style="width: 200px"></input>
                <div id="mm">
                    <div data-options="name:'pro_name'">项目名称</div>
                    <div data-options="name:'pro_no'">项目编号</div>

                    <div data-options="name:'internal_no'">内部文号</div>
                    <div data-options="name:'task_code'">任务编号</div>
                    <div data-options="name:'predict'">预计信息点</div>
                    <div data-options="name:'linked_co__text'">挂靠单位</div>
                </div>
            </div>
        </div>


        {#  复杂条件查询太占用版面，后期可以放入模态窗口中      #}
        {% comment %}  <div class="conditions">
            <span class="con-span">项目名称: </span><input class="easyui-textbox" type="text" name="pro_name" style="width:166px;height:30px;line-height:35px;"></input>
            <span class="con-span">项目编号: </span><input class="easyui-textbox" type="text" name="pro_code" style="width:166px;height:30px;line-height:35px;"></input>
            <a id="search" href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
            <a href="#" class="easyui-linkbutton more" iconCls="icon-more">更多</a>
        </div>
        <div class="conditions hide">
            <span class="con-span">挂靠公司: </span><input class="easyui-textbox" type="text" name="linked_co" style="width:166px;height:30px;line-height:35px;"></input>
            <span class="con-span">区域: </span><input id="c_district_2" name="district" style="width:166px;height: 30px">
            <span class="con-span">内部文号: </span><input class="easyui-textbox" type="text" name="internal_no" style="width:166px;height:30px;line-height:35px;"></input>
            <span class="con-span">项目类型: </span><input class="easyui-textbox" type="text" name="pro_type" style="width:166px;height:30px;line-height:35px;"></input>
        </div>{% endcomment %}
    </div>
    <!-- 顶部条件查询结束 -->
</div>

<div id="edit_dialog" class="easyui-dialog" style="padding: 5px 5px">
    <form id="fm" method="post" enctype="multipart/form-data">

        <table style="border-collapse:separate; border-spacing:0px 10px;">
            <tr>
                <!-- ID，隐藏参数 -->
                <td><input hidden="hidden" id="id" style="width:200px;"></td>
            </tr>

            <tr>
                <td>挂靠公司：</td>
                <td><input id="c_linked_co" name="linked_co" style="width:200px;"></td>
            </tr>
            <tr>
                <td>区域：</td>
                <td><input id="c_district" name="district" style="width:200px;"></td>
            </tr>

            <tr>
                <td>项目类型：</td>
                <td><input id="c_pro_type" name="pro_type" style="width:200px;"></td>
            </tr>

            <tr>
                <td>项目编号：</td>
                <td><input name="pro_no" class="easyui-validatebox" required="true" style="width:195px;"></td>
            </tr>

            <tr>
                <td>任务编码：</td>
                <td><input name="task_code" class="easyui-validatebox" required="true" style="width:195px;"></td>
            </tr>

            <tr>
                <td>内部文号：</td>
                <td><input name="internal_no" class="easyui-validatebox" style="width:195px;"></td>
            </tr>

            <tr>
                <td>项目名称：</td>
                <td><input name="pro_name" class="easyui-validatebox" required="true" style="width:195px;"></td>
            </tr>

            <tr>
                <td>预计信息点：</td>
                <td><input name="predict" class="easyui-validatebox" required="true" style="width:195px;"></td>
            </tr>

        </table>

    </form>
</div>

<!-- dg工具按钮 -->
<div id="dlg-buttons">
    <a id="save" href="#" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#edit_dialog').dialog('close')">取消</a>
</div>
<!--------------->

<!-- 导入Excel对话框 -->
<div id="upload_dialog" style="padding: 5px 5px">
    <form id="excel_form" enctype="multipart/form-data" method="post">
        <input name="file" id="fb" type="text" style="width:250px">
    </form>
</div>

<div id="excel-buttons">
    <a id="excel_save" href="#" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#upload_dialog').dialog('close')">取消</a>
</div>

</body>
</html>
